<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API'S Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css//main.css') }}">
    <script src="{{ url_for('static', filename='js//main.js') }}"></script>
</head>

<body>
    <div class="maindiv">
        <div class="header">
            <h1>HOW TO USE API'S</h1>
            <div class="apikey" onclick="showapipopup()">GET API KEY</div>
        </div>
        <div class="container">
            <div class="requestcontainer">
                <div class="row" onclick="getmethod()">GET</div>
                <div class="row" onclick="postmethod()">POST</div>
                <div class="row" onclick="putmethod()">PUT</div>
                <div class="row" onclick="deletemethod()">DELETE</div>
            </div>
            <div class="code-editor">
                <div class="code-editor-header">
                    <div class="language">
                        Language
                    </div>
                    <div class="languageselect">
                        <select id="language" onclick="clearall()">
                            <option>Python</option>
                            <option>Java</option>
                            <option>C++</option>
                        </select>
                    </div>
                </div>
                <div class="code-editor-box" id="code-editor">
                </div>

            </div>
            <div class="apiidrequest" id="apiidrequest">
                <input type="text" placeholder="Enter Your Name" id="name">
                <input type="text" placeholder="Enter Your EmailId" id="email">
                <button type="submit" onclick="getapikey()">SUBMIT</button>
            </div>
        </div>

    </div>
</body>

</html>